<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="runtime.linux-arm.runtime.native.System.IO.Ports" version="7.0.0" />
  <package id="runtime.linux-arm64.runtime.native.System.IO.Ports" version="7.0.0" />
  <package id="runtime.linux-x64.runtime.native.System.IO.Ports" version="7.0.0" />
  <package id="runtime.native.System.IO.Ports" version="7.0.0" manuallyInstalled="true" />
  <package id="runtime.osx-arm64.runtime.native.System.IO.Ports" version="7.0.0" />
  <package id="runtime.osx-x64.runtime.native.System.IO.Ports" version="7.0.0" />
  <package id="SerialPortStream" version="2.4.1" manuallyInstalled="true" />
  <package id="System.CodeDom" version="7.0.0" />
  <package id="System.IO.Ports" version="7.0.0" manuallyInstalled="true" />
  <package id="System.Management" version="7.0.2" manuallyInstalled="true" />
</packages>